dist
.wrangler
.output
.vercel
.netlify
.vinxi
app.config.timestamp_*.js

# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
.DS_Store
Thumbs.db

data/kaikki.org-dictionary-English.jsonl
# The un-minified version:
public/countries.geojson 
tsconfig.tsbuildinfo
*.tgz
public/countries.geojson
data/countries.geojson
data/etymwn.tsv
data/etymwn_offline.db
data/etymwn_offline.db-journal

python/etymology-venv
python/etymology-lora
